<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>



  <body>

    <header id="header">
      <nav class="navbar navbar-expand-lg navbar-light py-4 px-5">
        <a class="navbar-brand" href="#">ブランド名</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav2">
          <ul class="navbar-nav">
            <% if session[:user_id] %>
              <%# セッションがあると使える機能 %>
              <li class="nav-item">
                <button type="button" class="btn btn-orange mx-auto d-block">
                  <%= link_to("ログアウト","/logout") %>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-orange mx-auto d-block" id="btn-post">投稿</button>
              </li>
            <% else %>
              <%# セッションがないと使える機能 %>
              <li class="nav-item active">
                <button type="button" class="btn btn-orange mx-auto d-block" id="btn-signup">サインアップ</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-orange mx-auto d-block" id="btn-login">ログイン</button>
              </li>
            <% end %>

            <%# セッションに関係なく利用可能な機能 %>
            <li class="nav-item">
              <button type="button" class="btn btn-orange mx-auto d-block" id="btn-search">検索</button>
            </li>
          </ul>
        </div>
      </nav>
    </header><!-- End Header -->

    <%# flashの表示 %>
    <% if flash[:notice] %>
      <div class="flash py-3 mx-auto">
        <h1 class="text-center"><%= flash[:notice] %></h1>
      </div>
    <% end %>

    <!-- モーダル -->
        <!--  サインアップモーダル -->
        <div class="login-modal-wrapper" id="signup-modal">
            <div class="modal1">
                <div class="close-modal">
                    <i class="fa fa-2x fa-times"></i>
                </div>
                <div id="login-form">
                    <h2>サインアップ</h2>
                    <%= form_tag("/users/create", method: 'post', multipart: true) do %>
                        <div>
                            <label for="name">名前<br></label>
                            <input  name="name">
                        </div>
                        <div>
                            <label for="email">メールアドレス</label>
                            <input  name="email">
                        </div>
                        <div>
                            <label for="assword">パスワード</label>
                            <input type="password" name="password" class="w-75">
                        </div>
                        <div>
                            <label for="prof_image">プロフィール画像</label>
                            <input type="file" name="prof_image">
                        </div>
                        <div>
                            <label for="from">出身地</label>
                            <select name="from">
                                <option value="" selected>都道府県</option><option value="北海道">北海道</option><option value="青森県">青森県</option><option value="岩手県">岩手県</option><option value="宮城県">宮城県</option>
                                <option value="秋田県">秋田県</option><option value="山形県">山形県</option><option value="福島県">福島県</option><option value="茨城県">茨城県</option><option value="栃木県">栃木県</option>
                                <option value="群馬県">群馬県</option><option value="埼玉県">埼玉県</option><option value="千葉県">千葉県</option><option value="東京都">東京都</option><option value="神奈川県">神奈川県</option>
                                <option value="新潟県">新潟県</option><option value="富山県">富山県</option><option value="石川県">石川県</option><option value="福井県">福井県</option><option value="山梨県">山梨県</option>
                                <option value="長野県">長野県</option><option value="岐阜県">岐阜県</option><option value="静岡県">静岡県</option><option value="愛知県">愛知県</option><option value="三重県">三重県</option>
                                <option value="滋賀県">滋賀県</option><option value="京都府">京都府</option><option value="大阪府">大阪府</option><option value="兵庫県">兵庫県</option><option value="奈良県">奈良県</option>
                                <option value="和歌山県">和歌山県</option><option value="鳥取県">鳥取県</option><option value="島根県">島根県</option><option value="岡山県">岡山県</option><option value="広島県">広島県</option>
                                <option value="山口県">山口県</option><option value="徳島県">徳島県</option><option value="香川県">香川県</option><option value="愛媛県">愛媛県</option><option value="高知県">高知県</option>
                                <option value="福岡県">福岡県</option><option value="佐賀県">佐賀県</option><option value="長崎県">長崎県</option><option value="熊本県">熊本県</option><option value="大分県">大分県</option>
                                <option value="宮崎県">宮崎県</option><option value="鹿児島県">鹿児島県</option><option value="沖縄県">沖縄県</option>s
                            </select>
                        </div>
                        <input type="submit" value="投稿">
                    <% end %>
                </div>
            </div>
        </div>

        <!--  ログインモーダル -->
        <div class="login-modal-wrapper" id="login-modal">
            <div class="modal1">
                <div class="close-modal">
                    <i class="fa fa-2x fa-times"></i>
                </div>
                <div id="login-form">
                    <h2>ログイン</h2>
                    <%= form_tag("/login") do %>
                        <div>
                            <label for="email">メールアドレス<br></label>
                            <input type="email" name="email">
                        </div>
                        <div>
                            <label for="content">パスワード</label>
                            <input type="password" name="password">
                        </div>
                        <input type="submit" value="投稿">
                    <% end %>
                </div>
            </div>
        </div>

        <!--  投稿モーダル -->
        <div class="login-modal-wrapper" id="post-modal">
            <div class="modal1">
                <div class="close-modal">
                    <i class="fa fa-2x fa-times"></i>
                </div>
                <div id="login-form">
                    <h2>投稿</h2>
                    <%= form_tag("/posts/create", method: 'post', multipart: true, multiple: true) do %>
                        <div>
                          <label for="content">内容<br></label>
                          <input name="content">
                        </div>
                        <div>
                          <label for="prof_image">プロフィール画像</label>
                          <input type="file" name="prof_image" multiple="multiple" accept="image/*" onChange="change_img(this)" id="image_data">
                        </div>
                        <input type="submit" value="投稿">
                    <% end %>
                </div>
            </div>
        </div>

        <!--  検索モーダル -->
        <div class="login-modal-wrapper" id="search-modal">
            <div class="modal1">
                <div class="close-modal">
                    <i class="fa fa-2x fa-times"></i>
                </div>
                <div id="login-form">
                    <h2>あとで作る</h2>
                    <%= form_tag("/users/create", method: 'post', multipart: true) do %>
                      <div>
                          <label for="title">タイトル<br></label>
                          <input type="email" name="email">
                      </div>
                      <div>
                        <label for="content">内容</label>
                          <textarea class="w-75"></textarea>
                      </div>
                      <div>
                          <label for="img">画像</label>
                          <input type="file" name="img">
                      </div>
                      <input type="submit" value="投稿">
                    <% end %>
                </div>
            </div>
        </div>

    <%= yield %>
  </body>
</html>
